<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>chat</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="line__container">
    <div class="line__title">
        旅行ナビゲーター
    </div>
    <div class="line__contents scroll">
        <div class="line__left">
             <figure>
                <img src="{% static 'images/travelNavigator1.gif' %}"/>
            </figure>
            <div class="line__left-text">
                <div class="name">旅行ナビさん</div>
                <div class="text">出発地は？</div>
            </div>
        </div>

        {% for message in messages %}
        <div class="line__right">
            <div class="text">{{ message.contents }}</div>
            <span class="date">既読<br>0:30</span>
        </div>
        <div class="line__left">
            <figure>
                <img src="{% static 'images/travelNavigator1.gif' %}"/>
            </figure>
            <div class="line__left-text">
                <div class="name">旅行ナビさん</div>
                <div class="text">{{message.response}}</div>
                <div class="buttons-container">
                    <input class="line__choice" type="submit" value="観光地">
                    <input class="line__choice" type="submit" value="ホテル">
                    <input class="line__choice" type="submit" value="グルメ">
                    <input class="line__choice" type="submit" value="お土産">
                    <input class="line__choice" type="submit" value="リセット">
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="line__form-container">
            <form class="line__form" action="{% url 'chat:post' %}" method="post">
                {% csrf_token %}
                <input class="line__input" size="20" type="text" name="contents" required placeholder="こちらにメッセージを入力してください">
                <input class="line__submit" type="submit" value="→">
            </form>
        </div>

    </div>
</div>

</body>
</html>
